
__pycache__/some_class.cpython-311.pyc
__pycache__/individual.cpython-311.pyc
__pycache__/evolution_algoritm_functions.cpython-311.pyc
__pycache__/evaluation_functions.cpython-311.pyc
__pycache__/draw_functions.cpython-311.pyc
